page-register {

}

.center {
  display: block;
  margin: 0 auto;
}

.transparent {
  background: transparent;
}

.preview-sign-up-profile-image {
  max-height: 250px;
  width: auto;
  margin-left: 0;
}
